  body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family:"Merriweather" , serif;
  }
  h1{
    margin:50px auto 0 auto;
    color:#66BFBF;
    font-size:5.625rem;
    font-family: 'Sacramento', cursive;
  }
  .skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height:2;
  }
  .cooking{
    width:25%;
    float:left;
    margin-right: 30px;
    clear:right;
  }
  .Swimming{
    width:25%;
    float:right;
    margin-left: 30px;
  }
  h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    font-weight:normal;
    padding-bottom: 10px;
  }
  h3{
    color: #11999E;
    font-size:2.625rem;
    font-family: 'Montserrat', sans-serif;
  }
  a{
    color: #11999E;
  }
  .jp{
    width: 100px;
    height: 96px;
  }
  .dev{
    text-decoration: underline;
  }
  .web{
    font-size: 2.5rem;
    font-weight: normal;
  }
  .top-container{
    background-color:#E4F9F5;
    position:relative;
    padding:100px;
  }
  .intro{
    width:30%;
    margin:auto;
  }
  p{
    line-height:2;
  }
  hr{
    color:  #EAF6F6;
    border-style: dotted;
    font-size:6px;
    border-bottom:none;
    width:4%;
    margin:50px auto;
  }
  .contact-message{
    width: 40%;
    margin:40px auto;
  }
  .middle-container{
    margin:100px 0;
  }
  .bottom-container2{
    padding:50px 0 20px;
    background-color:#66BFBF;
  }
  a{
    margin:10px 20px;
    text-decoration: none;
    font-family:'Montserrat',sans-serif;
    color:#11999E;
  }
  a:hover{
    color:#EAF6F6;
  }
  .top-cloud {
    position:absolute;
    top:40px;
    right:300px;
  }
  .bottom-cloud {
    position:absolute;
    left:300px;
    bottom:300px;
  }
  .copyright{
    color:#EAF6F6;
    font-size:0.75rem;
    padding:20px 0;
  }
  .btn {
    background-image: linear-gradient(#66bfbf 20%, #11999E);
    border-radius: 8px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    top: 25px;
  }

  .btn:hover {
    filter: brightness(1.2);
  }
